* {
    font-family: 'Poppins', sans-serif;
}


#header {
    background-color: #e6f1f8;
}


#outer-container {
    margin-top: 50px;
    /* display: flex; */
}

/* Navbar */


a.nav-link.active:hover, a.nav-link:hover {
    color: #ffc107 !important;
}

a.nav-link {
    font-weight: 500;
    text-transform: uppercase;
}

a.nav-link.active::after, a.nav-link::after {
    content: '';
    width: 0%;
    height: 2px;
    background:  #ffc107;
    display: block;
    margin: auto;
    transition: 0.5s;
}

a.nav-link.active:hover::after, a.nav-link:hover::after {
    width: 100%;

}

#profile_text {
    font-weight: 500;
}

.dropdown a {
    color: black !important;
}

.dropdown-item:active {
    background-color: #e9b66f !important;
    }

/* #inner-container-dogs {
    display: flex;
} */


.headings {
    font-weight: 600;
}

.box{
    margin-top: 20px;
    padding: 25px;
    width: 80%;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    display: flex; 
    align-items: center;
    margin: auto;
}

.box > i {
    font-size: 20px;
    color: black;
}

.box > input{
    flex: 1;
    height: 40px;
    width: 80%;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    background-color: white;
}

.card:hover {
    transition: 0.6s ease-in-out !important;
    transform: scale(1.03) !important;
    
}

.card-img-top {
    width: 100%;
    height:240px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px !important;

}

.card-body {
    border-radius: 0 0 15px 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.card-title {
    color: #E8A97C;
    font-weight: 600;
}


.card-text {
    font-size: 15px;
}

#copyright {
    background-color: #e6f1f8;
    font-size: 12px;
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.zoom {
    padding: 50px;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 450px;
    margin: 0 auto;
}
  
.zoom:hover {
    transform: scale(1.2); 
}

#up_icon {
    color: white;
}

#scrollBtn {
    position:absolute;
    right: 0;
    z-index: 10;
    
}

.icon {
    font-size: 14px !important;
    padding: 0 5px;
}


@media only screen and (max-width:400px) {
    a.nav-link.active:hover::after, a.nav-link:hover::after {
        width: 0% !important;
    
    }

    .zoom {
        padding: 50px;
        transition: transform .2s; /* Animation */
        width: 220px;
        height: 250px;
        margin: 0 auto;
    }

    input[type="text"] {
        font-size: 14px;
    }


}



@media screen and (min-width: 0px) and (max-width: 500px) { 
    #header_box {
        height: 350px !important;
    }

    .col {
        margin: 0px;
    }

    .card{
        margin:0px;
    }

}

.bell{
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
}



@-webkit-keyframes ring {
    0% { -webkit-transform: rotateZ(0); }
    1% { -webkit-transform: rotateZ(30deg); }
    3% { -webkit-transform: rotateZ(-28deg); }
    5% { -webkit-transform: rotateZ(34deg); }
    7% { -webkit-transform: rotateZ(-32deg); }
    9% { -webkit-transform: rotateZ(30deg); }
    11% { -webkit-transform: rotateZ(-28deg); }
    13% { -webkit-transform: rotateZ(26deg); }
    15% { -webkit-transform: rotateZ(-24deg); }
    17% { -webkit-transform: rotateZ(22deg); }
    19% { -webkit-transform: rotateZ(-20deg); }
    21% { -webkit-transform: rotateZ(18deg); }
    23% { -webkit-transform: rotateZ(-16deg); }
    25% { -webkit-transform: rotateZ(14deg); }
    27% { -webkit-transform: rotateZ(-12deg); }
    29% { -webkit-transform: rotateZ(10deg); }
    31% { -webkit-transform: rotateZ(-8deg); }
    33% { -webkit-transform: rotateZ(6deg); }
    35% { -webkit-transform: rotateZ(-4deg); }
    37% { -webkit-transform: rotateZ(2deg); }
    39% { -webkit-transform: rotateZ(-1deg); }
    41% { -webkit-transform: rotateZ(1deg); }

    43% { -webkit-transform: rotateZ(0); }
    100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
    0% { -moz-transform: rotate(0); }
    1% { -moz-transform: rotate(30deg); }
    3% { -moz-transform: rotate(-28deg); }
    5% { -moz-transform: rotate(34deg); }
    7% { -moz-transform: rotate(-32deg); }
    9% { -moz-transform: rotate(30deg); }
    11% { -moz-transform: rotate(-28deg); }
    13% { -moz-transform: rotate(26deg); }
    15% { -moz-transform: rotate(-24deg); }
    17% { -moz-transform: rotate(22deg); }
    19% { -moz-transform: rotate(-20deg); }
    21% { -moz-transform: rotate(18deg); }
    23% { -moz-transform: rotate(-16deg); }
    25% { -moz-transform: rotate(14deg); }
    27% { -moz-transform: rotate(-12deg); }
    29% { -moz-transform: rotate(10deg); }
    31% { -moz-transform: rotate(-8deg); }
    33% { -moz-transform: rotate(6deg); }
    35% { -moz-transform: rotate(-4deg); }
    37% { -moz-transform: rotate(2deg); }
    39% { -moz-transform: rotate(-1deg); }
    41% { -moz-transform: rotate(1deg); }

    43% { -moz-transform: rotate(0); }
    100% { -moz-transform: rotate(0); }
}

@keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }

    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
}