/* Navbar */

#profile_text {
    font-weight: 500;
}

.dropdown a {
    color: black !important;
}

.dropdown-item:active {
    background-color: #e9b66f !important;
}
    

.box{
    padding: 20px;
    width: 80%;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    display: flex; 
    align-items: center;
    margin: auto;
}

.box > i {
    font-size: 20px;
    color: black;
}

.box > input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    background-color: white;
}

.box img {
    height: auto;
    width: auto;
}

.container {
    justify-content: space-evenly;
} 

#googleMap {
    width: 80%;
    height: 400px;
    margin: 20px auto;
}

#div-output {
    padding: 30px;
}

.contents {
    background: white;
    padding: 20px 0px;
    margin: 20px 0px;
}

.contents i {
    font-size: 25px;
    color: black;
}

.icon {
    font-size: 14px !important;
    padding: 0 5px;
}



@media screen and (min-width: 0px) and (max-width: 500px) { 

    a.nav-link.active:hover::after, a.nav-link:hover::after {
        width: 0% !important;
    
    }

    #see_more {
        font-size: 16px;
    }

    .place_cat {
        padding-left: 10px;
    }


    #header_box {
        height: 250px !important;
    }

    #see_more i {
        bottom: 23px;
        position: relative;
    }

    #googleMap {
        width: 100%;
        height: 400px;
        margin: 20px auto;
    }

}